.navbar-container {
    width: 100%;
    background-color: #FFB63D;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    z-index: 10;
}

.navbar {
    background-color: #FFB63D;
    height: 60px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    color: #343434;
}

.navbar-user-section {
    display: flex;
    align-items: center;
}

.navbar-user-section :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-user-section :nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nick-container :first-child {
    margin: 0;
    font-size: 1rem;
}

.navbar-user-section img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.navbar-buttons {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover {
    color: grey;
}

.navbar-buttons div {
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    .navbar {
        width: 90%;
    }

    .navbar-buttons {
        width: 110px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 450px) {
    .navbar {
        height: 50px;
    }
}