.left-side-container h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 6em;
    font-weight: lighter;
}

.photo-container {
    width: 300px;
    height: 300px;
}

.img {
    height: calc(503px / 1.5);
    width: calc(503px / 1.5);
    transform: rotate(15deg);
}

.section-container {
    display: flex;
    justify-content: center;
    background: linear-gradient(#0E62A8, #FFFFFF);
    width: 100vw;
    height: calc(822px / 2);
}

.left-side-container {
    width: 50vw;
}

.right-side-container {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.reg-card-container {
    width: 25rem;
    height: calc(827px / 1.5);
    background-color: #FFFFFF;
    border: 1px solid #707070;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 15%;
}



.reg-card-header {
    background-color: #0EA8A1;
    height: calc(122px / 1.2);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 1px solid #707070;
}

.reg-card-header h1 {
    font-weight: normal;
    margin-left: 25px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.reg-card-header p {
    margin-top: 0px;
    margin-left: 25px;
    color: #cabcbc;
}

.reg-card input {
    border-radius: 5px;
    background-color: #F5F6F7;
    border: 1px solid #707070;
    padding: 10px;
}

.reg-card form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

form input {
    margin-bottom: 25px;
}

form :first-child {
    width: 130px;
}

form :nth-child(2) {
    width: 130px;
}

form :nth-child(3) {
    width: 100%
}

form :nth-child(4) {
    margin-bottom: 5px;
    margin-top: -10px;
}

form :nth-child(5) {
    width: 100%
}

form button {
    background-color: #0EA8A1;
    border: 1px solid #707070;
    border-radius: 10px;
    color: #B49D9E;
}

input[type='radio'] {
    vertical-align: baseline
}

label {
    color: #B49D9E;
}

.radio-input {
    width: 30%;
}

