.left-side-container h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 8em;
    font-weight: lighter;
    margin-left: 10%;
    -webkit-text-stroke: 1px #49D88B;
}

.logo-photo-container {
    width: 300px;
    height: 300px;
}

.left-side-container img {
    height: calc(503px / 1.7);
    width: calc(503px / 1.7);
    transform: rotate(15deg);
    margin-left: 100%;
}

.section-container {
    display: flex;
    justify-content: center;
    background: linear-gradient(#0E62A8, #FFFFFF);
    width: 100vw;
    height: calc(822px / 2);
}

.left-side-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.right-side-container {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.reg-card-container {
    width: 25rem;
    height: calc(827px / 1.5);
    background-color: #FFFFFF;
    border: 1px solid #707070;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 15%;
}



.reg-card-header {
    background-color: #0EA8A1;
    height: calc(122px / 1.2);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 1px solid #707070;
}

.reg-card-header h1 {
    font-weight: normal;
    margin-left: 25px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.reg-card-header p {
    margin-top: 0px;
    margin-left: 25px;
    color: #cabcbc;
}

.reg-card input {
    border-radius: 5px;
    background-color: #F5F6F7;
    border: 1px solid #707070;
    padding: 10px;
}

.reg-card form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

form input {
    margin-bottom: 25px;
}

form :first-child {
    width: 130px;
}

form :nth-child(2) {
    width: 130px;
}

form :nth-child(3) {
    width: 100%
}

form :nth-child(4) {
    margin-bottom: 5px;
    margin-top: -10px;
}

form :nth-child(5) {
    width: 100%;
    -webkit-appearance: none;
}

form button {
    background-color: #0EA8A1;
    border: 1px solid #707070;
    border-radius: 10px;
    color: #B49D9E;
}

input[type='radio'] {
    vertical-align: baseline;
    accent-color: #0EA8A1;
}

label {
    color: #B49D9E;
}

.radio-input {
    width: 30%;
}

input[type='url'] {
    width: 100%;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
}

.button-container :first-child {
    color: white;
    font-size: larger;
    background-color: #0EA8A1;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    cursor: pointer;
}

.button-container :first-child:hover {
    background-color: #0ea8a0ac
}

.button-container :first-child:active {
    background-color: white;
    color: #0EA8A1;
}

@media screen and (min-width: 1700px) {
    .left-side-container {
        width: 720px;
    }

    .right-side-container {
        width: 720px;
    }
}

@media only screen and (max-width: 1100px) {
    .section-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .left-side-container {
        width: 100%;
        height: 20vh;
        align-items: center;
    }

    .logo-photo-container {
        display: none;
    }

    .left-side-container h1 {
        font-size: 3em;
        margin-left: 0;
    }

    .right-side-container {
        width: 100%;
        height: 80vh;
    }

    .reg-card-container {
        margin: 0
    }
}

@media only screen and (max-width: 450px) {
    label {
        font-size: 0.9rem;
        padding-right: 0.5rem;
    }

    input[type='radio'] {
        width: 33%;
    }

    input[type='text'] {
        font-size: 16px;
    }

    input[type='url'] {
        font-size: 16px;
    }

    input[type='date'] {
        font-size: 16px;
    }


    .reg-card-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 3rem;
    }

    .reg-card-header h1 {
        margin: 0;
        font-size: 1.5rem;
    }

    .reg-card-container p {
        margin: 0;
    }
}

@media only screen and (max-width: 375px) {
    form :first-child {
        width: 100%;
    }

    form :nth-child(2) {
        width: 100%;
    }


}

